# --- Dependencies & Build --- #
node_modules/
/dist
/dist-ssr
/target
/src-tauri/target
/src-tauri/gen/schemas
/src-tauri/binaries

# --- IDEs & Tools --- #
.vscode/
.idea/
.agents/
.aiignore
.antigravityignore
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# --- OS & System --- #
.DS_Store
Thumbs.db
desktop.ini

# --- Logs & Env --- #
*.log
logs
.env
.env*.local

# --- Local Scripts --- #
/bump-version.ps1
